<%- include('header'); -%>

<!-- OffCanvas Search End -->

<div class="offcanvas-overlay"></div>

<!-- Slider Start -->
<div class="slider-area slider-dots-style-3">
  <div class="hero-slider-wrapper">
    <!-- Single Slider  -->
    <div
      class="single-slide slider-height-3 bg-img d-flex"
      data-bg-image="/assets/images/slider-image/sample-1.jpg"
    >
      <div class="container align-self-center">
        <div class="slider-content-1 slider-animated-1 text-left">
          <h1 class="animated color-black">
            APPLE MACBOOK 
            <br />
            PRO M2
          </h1>
          <p class="animated color-gray">For Best Price And Services</p>
          <a href="/contact" class="shop-btn animated">CONTACT NOW</a>
        </div>
      </div>
    </div>
    <!-- Single Slider  -->
    <div
      class="single-slide slider-height-3 bg-img d-flex"
      data-bg-image="/assets/images/slider-image/sample-2.jpg"
    >
      <div class="container align-self-center">
        <div class="slider-content-1 slider-animated-2 text-left">
          <h1 class="animated color-black">
            APPLE IPHONE <br />
            13 PRO MAX
          </h1>
          <p class="animated color-gray">Get One Now</p>
          <a href="/contact" class="shop-btn animated">CONTACT NOW</a>
        </div>
      </div>
    </div>
    <!-- Single Slider  -->
    <div
      class="single-slide slider-height-3 bg-img d-flex"
      data-bg-image="/assets/images/slider-image/sample-4.jpg"
    >
      <div class="container align-self-center">
        <div class="slider-content-1 slider-animated-3 text-left">
          <h1 class="animated color-black">
            GEEKVAPE AEGIS <br />
            SOLO 2
          </h1>
          <p class="animated color-gray">Get Best Vapes On Attractive Prices.</p>
          <a href="/contact" class="shop-btn animated">CONTACT NOW</a>
        </div>
      </div>
    </div>
    <!-- Single Slider  -->
  </div>
</div>
<!-- Slider End -->
<!-- Banner Area Start -->
<div class="banner-area mt-50px mb-20px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-wrapper">
          <img src="/assets/images/banner-image/11.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-wrapper">
          <img src="/assets/images/banner-image/12.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Area End -->

<!-- Arrivals Area Start -->
<div class="arrival-area mt-20px mb-20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Products</h2>
          <!-- Nav tabs -->

          <!-- Nav tabs -->
        </div>
      </div>
    </div>
    <!-- tab content -->
    <div class="tab-content">
      <!-- First-Tab -->
      <div id="tab-1" class="tab-pane active fade">
        <!-- Arrivel slider start -->
        <div class="arrival-slider-wrapper slider-nav-style-1">
          <div class="slider-single-item">
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <img
                    class="first-img"
                    src="/assets/images/product-image/iphone1.jpg"
                    alt=""
                  />
                  <img
                    class="second-img"
                    src="/assets/images/product-image/iphone2.jpg"
                    alt=""
                  />
                </div>

                <div class="product-decs">
                  <a class="inner-link"><span>APPLE</span></a>
                  <h2>
                    <a class="product-link">IPHONE 13 PRO MAX</a>
                  </h2>
                  
                </div>
              </div>
            </article>
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/samsung1.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/samsung2.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>SAMSUNG</span></a>
                  <h2>
                    <a class="product-link">SAMSUNG GALAXY S22 ULTRA</a>
                  </h2>
                  
                </div>
              </div>
            </article>
          </div>
          <div class="slider-single-item">
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/watch1.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/watch2.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>APPLE</span></a>
                  <h2>
                    <a class="product-link">APPLE WATCH SERIES 7</a>
                  </h2>
                 
                </div>
              </div>
            </article>
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/watch3.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/watch4.jpg"
                      alt=""
                    />
                  </a>
                </div>

                <div class="product-decs">
                  <a class="inner-link"><span>SAMSUNG</span></a>
                  <h2>
                    <a class="product-link">SAMSUNG GALAXY WATCH 4</a>
                  </h2>
                  
                </div>
              </div>
            </article>
          </div>
          <div class="slider-single-item">
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/mac1.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/mac2.jpg"
                      alt=""
                    />
                  </a>
                </div>

                <div class="product-decs">
                  <a class="inner-link"><span>APPLE</span></a>
                  <h2>
                    <a class="product-link">MACBOOK PRO M2</a>
                  </h2>
                  
                </div>
              </div>
            </article>
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/mac3.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/mac4.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>APPLE</span></a>
                  <h2>
                    <a class="product-link">MACBOOK AIR M2</a>
                  </h2>
                  
                </div>
              </div>
            </article>
          </div>

          <div class="slider-single-item">
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/vape1.webp"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/vape2.webp"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>ELFBAR</span></a>
                  <h2>
                    <a class="product-link">ELFBAR BC3500</a>
                  </h2>
                  
                </div>
              </div>
            </article>
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/vape3.webp"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/vape4.webp"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>VAPORESSO</span></a>
                  <h2>
                    <a class="product-link">VAPORESSO SOLO SKY</a>
                  </h2>
                  
                </div>
              </div>
            </article>
          </div>
          <div class="slider-single-item">
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/earphone1.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/earphone2.jpg"
                      alt=""
                    />
                  </a>
                  
                <div class="product-decs">
                  <a class="inner-link"><span>SKULL CANDY</span></a>
                  <h2>
                    <a class="product-link">SKULL CANDY INDY ANC</a>
                  </h2>
                  
                </div>
                
              </div>
            </article>
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/earphone3.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/earphone4.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>JBL</span></a>
                  <h2>
                    <a class="product-link">JBL FREE X</a>
                  </h2>
                  
                </div>
              </div>
            </article>
          </div>
          <div class="slider-single-item">
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/headphones1.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/headphones2.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>JBL</span></a>
                  <h2>
                    <a class="product-link">JBL HEADPHONES</a>
                  </h2>
                  
                </div>
              </div>
            </article>
            <!-- Single Item -->
            <article class="list-product text-center">
              <div class="product-inner">
                <div class="img-block">
                  <a class="thumbnail">
                    <img
                      class="first-img"
                      src="/assets/images/product-image/speaker1.jpg"
                      alt=""
                    />
                    <img
                      class="second-img"
                      src="/assets/images/product-image/speaker2.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="product-decs">
                  <a class="inner-link"><span>JBL</span></a>
                  <h2>
                    <a class="product-link">JBL SPEAKER</a>
                  </h2>
                  
                </div>
              </div>
            </article>
          </div>
        </div>
        <!-- Arrivel slider end -->
      </div>
    </div>
    <!-- tab content end-->
  </div>
</div>
<!-- Arrivals Area End -->
<!-- category Area Start -->
<div
  class="popular-categories-area popular-categories-area-2 bg-light-gray pt-50px pb-50px"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="section-heading">Our Services</h2>
        </div>
      </div>
    </div>
    <div class="popular-category-slider-wrapper slider-nav-style-2">
      <!-- single-item -->
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/phone.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>Mobile Services</h4>
          <ul>
            <li>Screen Repair</li>
            <li>Software Repair</li>
            <li>Ports Cleaning</li>
            <li>Speaker Repair</li>
            <li>Battery Change</li>
          </ul>
          <a href="/services" class="view-all-btn">View All</a>
        </div>
      </div>
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/computer.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>PC Services</h4>
          <ul>
            <li>Laptop Screen Repair</li>
            <li>Software Repair</li>
            <li>Laptop Ports Cleaning</li>
            <li>Laptop Fans Cleaning</li>
            <li>Laptop Battery Change</li>
          </ul>
          <a href="/services" class="view-all-btn">View All</a>
        </div>
      </div>
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/repair.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>Electronics Repair</h4>
          <ul>
            <li>Portable Speaker Repair</li>
            <li>Telephone Repair</li>
            <li>Headphone Repair</li>
            <li>Hard Drive Repair</li>
            <li>Other Electronic Repair</li>
          </ul>
          <a href="/services" class="view-all-btn">View All</a>
        </div>
      </div>
      <div class="single-slider-item">
        <div class="thumb-category">
          <img
            src="/assets/images/popular-image/others.png"
            alt="product-image.jpg"
          />
        </div>
        <div class="category-discript">
          <h4>Other Services</h4>
          <ul>
            <li>Vape Repair</li>
            <li>Display Tempered</li>
            <li>Mobile Covers</li>
            <li>Consoles Related Issues</li>
            <li>Camera Related Services</li>
          </ul>
          <a href="/services" class="view-all-btn">View All</a>
        </div>
      </div>

      <!-- single-item end-->
    </div>
  </div>
</div>

<!-- category Area End -->
<!-- Static Area Start -->
<div class="static-area mtb-50px">
  <div class="container">
    <div class="static-area-wrap">
      <div class="row">
        <!-- Static Single Item Start -->
        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
          <div class="single-static">
            <img
              src="/assets/images/icons/static-icons-1.png"
              alt=""
              class="img-responsive"
            />
            <div class="single-static-meta">
              <h4>Free Shipping</h4>
              <p>On all orders*</p>
            </div>
          </div>
        </div>
        <!-- Static Single Item End -->
        <!-- Static Single Item Start -->
        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
          <div class="single-static">
            <img
              src="/assets/images/icons/static-icons-2.png"
              alt=""
              class="img-responsive"
            />
            <div class="single-static-meta">
              <h4>Easy Returns</h4>
              <p>No questions asked</p>
            </div>
          </div>
        </div>
        <!-- Static Single Item End -->
        <!-- Static Single Item Start -->
        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
          <div class="single-static">
            <img
              src="/assets/images/icons/static-icons-3.png"
              alt=""
              class="img-responsive"
            />
            <div class="single-static-meta">
              <h4>100% Payment Secure</h4>
              <p>Your payment are safe with us.</p>
            </div>
          </div>
        </div>
        <!-- Static Single Item End -->
        <!-- Static Single Item Start -->
        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
          <div class="single-static">
            <img
              src="/assets/images/icons/static-icons-4.png"
              alt=""
              class="img-responsive"
            />
            <div class="single-static-meta">
              <h4>Support 24/7</h4>
              <p>Contact us 24 hours a day</p>
            </div>
          </div>
        </div>
        <!-- Static Single Item End -->
      </div>
    </div>
  </div>
</div>
<!-- Static Area End -->
<div
  class="popular-categories-area popular-categories-area-2 bg-light-gray pt-50px pb-50px"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="section-heading">Our Reviews</h2>
        </div>
      </div>
    </div>
    <div class="popular-category-slider-wrapper slider-nav-style-2">
      <!-- single-item -->
      <% reviews.map((review)=>{ %>
      <div class="single-slider-item">
        <div class="col-md-4 mb-4 mb-md-0" style="width: 100%">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="/images/profile.png"
                  class="rounded-circle shadow-1-strong"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold"><%= review.name %></h5>
              <h6 class="font-weight-bold my-3"><%= review.email %></h6>

              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i><%= review.desc %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }) %>

      <!-- single-item end-->
    </div>
  </div>
</div>
<!-- Brand area start -->
<div class="brand-area mt-30px mb-50px">
  <div class="container">
    <div class="brand-slider">
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/1.png"
            alt=""
        /></a>
      </div>
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/2.png"
            alt=""
        /></a>
      </div>
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/3.png"
            alt=""
        /></a>
      </div>
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/4.png"
            alt=""
        /></a>
      </div>
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/5.png"
            alt=""
        /></a>
      </div>
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/1.png"
            alt=""
        /></a>
      </div>
      <div class="brand-slider-item">
        <a href="#"
          ><img
            class="img-responsive"
            src="/assets/images/brand-logo/2.png"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
<!-- Brand area end -->
<!-- News letter area -->

<!-- News letter area  End -->

<%- include('footer'); -%>
